/*------------------------------------------------------------------
		File Name: style.css
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
		[Table of contents]

		1.  IMPORT FONTS
    2.  IMPORT FILES
	3.  BASIC
    4.  LOADER
	5.  HEADER
	      - Header Top 
	      - Menu 
	      - Search Bar
	      - Side Menu
		  - Fix Header
	6.  SLIDER PARALLAX
	      - Simple Parallax
	      - Slider Text
		  - Testimonial slider
	7.  SECTION
	      - Counter
		  - Form
		  - Progress Bar
		  - Pagination
	8.  SLIDER
	9.  ACCORDION
	10. PRICE TABLE
	11. INNER PAGE BANNER
	12. SIDEBAR
	     - Sidebar Search
	13. BLOG	
         - Blog Detail	
	14. CASE STUDIES
	15. SHOP
    16. FOOTER
	17. CUSTOM
		
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		1. IMPORT FONTS
	-------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*------------------------------------------------------------------
		2. IMPORT FILES
	-------------------------------------------------------------------*/

@import url(font-awesome.min.css);

/*------------------------------------------------------------------
		3. BASIC
	-------------------------------------------------------------------*/


	html {
		scroll-behavior: smooth;
	  }
	/*------------------------------------------------------------------
    color theme
-------------------------------------------------------------------*/

.header_top,
#navbar_menu ul ul li a:hover,
#navbar_menu ul ul li a:focus,
.bg_load,
a.btn.dark_gray_bt:hover,
a.btn.dark_gray_bt:focus,
.carousel-indicators .active,
.progress-bar {
	background: #039ee3;
    background-size: 100% 100%;
    border: none;
}

#navbar_menu > ul > li a.active,
#navbar_menu > ul > li:hover > a,
#navbar_menu > ul > li:focus > a,
footer p a:hover,footer p a:focus,
.footer-menu li a:hover,
.footer-menu li a:focus,
footer ul.social_icons li a:hover,
footer ul.social_icons li a:focus,
.breadcrumb li a {
    color: #039ee3;
}

.btn.sqaure_bt {
    border-radius: 0;
    background: #039ee3;
}

.btn.sqaure_bt span {
    font-size: 31px;
    font-weight: 400;
    position: absolute;
    right: 16px;
}

footer h2::after,
.cprt,.contact_us_section {
	background: #039ee3;
}

.tp-caption.tp-shape.tp-shapewrapper.tp-resizeme.rs-parallaxlevel-0 {
    background: #039ee3 !important;
}

a.btn.main_bt,
button.btn.main_bt {
	background: #17a5e9;
	border: none;
}

a.btn.main_bt:hover,
a.btn.main_bt:focus,
button.btn.main_bt:hover,
button.btn.main_bt:focus {
	background: #25d8ed;
	background-size: 100% 100%;
	color: #fff;
}

a.btn.dark_gray_bt:hover,
a.btn.dark_gray_bt:focus {
	color: #fff;
}

.modal-backdrop {
	background-color: rgba(3, 158, 227, .95);
}

#navbar_menu ul ul {
	border-color: #039ee3;
}

button.btn.white_btn, a.btn.white_btn, button.btn.white_btn, a.btn.white_btn {
	color: #111;
	text-transform: none;
	text-shadow: none;
}

button.btn.white_btn:hover, 
a.btn.white_btn:hover, 
button.btn.white_btn:hover, 
a.btn.white_btn:hover {
	color: #fff;
	text-transform: none;
	background: #111;
}

.tp-bannertimer {
    background: #039ee3 !important;
}

.tp-caption.tp-shape.tp-shapewrapper.rs-parallaxlevel-0 {
	background-color: rgba(0, 0, 0, 0.4) !important;
}


/* '''''''''''''''''''''''''''' */

* {
	margin: 0;
	padding: 0;
	outline: none !important;
	box-sizing: border-box;
}

html,
body {
	color: #898989;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	line-height: normal;
	font-weight: 400;
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0;
	font-weight: normal;
	line-height: normal;
	color: #1f1f1f;
	margin: 0
}

h1 {
	font-size: 24px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

ol,
ul {
	list-style: none;
	margin: 0;
}

a {
	color: #000;
	text-decoration: none;
	outline: none;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a.btn,
button.btn {
	min-width: 170px;
	height: 50px;
	border-radius: 100px;
	padding: 0;
	text-align: center;
	line-height: 52px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
	color: #fff;
	border: solid transform 1px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
	position: relative;
	font-family: 'Poppins', sans-serif;
}

.btn.dark_gray_bt {
	background: #252525;
}

a.btn:hover,
button.btn:hover,
a.btn:focus,
button.btn:focus {
	background: #252525;
	color: #fff;
}

button.btn.white_btn,
a.btn.white_btn {
	background: #fff;
	padding: 0 50px;
}

.btn.sqaure_bt i {
	margin-left: 8px;
	font-weight: 600;
	top: -1px;
	position: relative;
}

.img-responsive {
	max-width: 100%;
}

.margin_0 {
	margin: 0 !important;
}

h2 {
	font-size: 35px;
	color: #000;
	line-height: 36px;
	font-weight: 600;
	position: relative;
	margin-bottom: 15px;
	text-transform: uppercase;
	margin-top: 15px;
}

h3 {
	font-size: 24px;
	color: #000;
	line-height: normal;
	font-weight: 500;
	text-transform: none;
	margin-bottom: 20px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	color: #000;
	line-height: 21px;
	font-weight: 600;
	text-transform: none;
	margin: 30px 0 20px 0;
}

h5 {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	line-height: normal;
	color: #000;
}

p {
	color: #707070;
	font-size: 15px;
	line-height: 21px;
}

p.large {
	color: #898989;
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px 0;
}

button,
input,
select,
textarea,
option {
	font-family: 'Poppins', sans-serif;
}

a#submit {
	z-index: 1;
}

a:hover,
a:focus {
	color: #000;
	text-decoration: none;
}

.container {
	width: 1200px;
	max-width: 1200px;
}

.full {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.text_align_right {
	text-align: right;
}

.text_align_left {
	text-align: left;
}

.text_align_center {
	text-align: center;
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-backdrop.show {
	opacity: 1;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}


/** icon **/


/** end icon **/

.light_silver {
	background: #f8f8f8;
}

.margin_bottom_30_all {
	margin-bottom: 30px;
}

.margin_bottom_20_all {
	margin-bottom: 20px;
}

.section {
	float: left;
	width: 100%;
}

.main_heading {
	position: relative;
	margin-bottom: 65px;
}

.main_heading::after {
	content: "";
	display: block;
	margin: 20px auto 0;
	width: 80px;
	height: 5px;
	background: #17a5e9;
}

.main_heading.text_align_left::after {
	margin-left: 0;
}

.main_heading.text_align_right::after {
	margin-right: 0;
}

.icon img {
	width: 100px;
}


/*------------------------------------------------------------------
		4. LOADER
	-------------------------------------------------------------------*/



	/* Preloader Styles */
    .preloader {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
	  }
	  
	  .loader {
		border: 8px solid #f3f3f3;
		border-top: 8px solid #3498db;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		animation: spin 1s linear infinite;
	  }
	  
	  @keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	  }


/*------------------------------------------------------------------
		5. HEADER
	-------------------------------------------------------------------*/


/*----- header fix -----*/

.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}


/*----- Header Top -----*/

header {
	position: relative;
	z-index: 1;
}

.header_top {
	min-height: 50px;
}

.header_bottom {
	min-height: auto;
}

.header_top ul {
	list-style: none;
	margin: 10px 0;
	padding: 0;
}

.header_top ul li {
	font-size: 14px;
	color: #fff;
	float: left;
}

.header_top ul li i {
	margin: 0 2px 0 0;
}

.header_top ul li i {
	color: #fff;
	transition: ease all 0.2s;
	font-size: 18px;
	margin-right: 5px;
}

.header_top .social_icon ul li a {
	color: #fff;
}

.logo {
	float: left;
	margin: 19px 0 19px;
	position: relative;
	left: 0;
}

.logo img {
	height: 50px;
}

.header_style_1 .header_top {
	position: relative;
}

.make_appo {
	float: right;
}

.make_appo .btn.white_btn {
	margin: 0;
	border-radius: 0;
	font-weight: 600;
	padding: 0 35px;
	font-family: 'Raleway', sans-serif;
}

.topbar-left {
	float: left;
}

.header_top .topbar-left .list-inline {
	float: left;
	margin: 13px 0;
}

.header_top ul li {
	font-size: 13px;
	color: #fff;
	float: left;
	margin-right: 20px;
}

.header_bottom {
	position: relative;
	z-index: 9;
}


/*----- Menu -----*/

.menu_side {
	float: right;
	width: auto;
}

#navbar_menu,
#navbar_menu ul,
#navbar_menu ul li,
#navbar_menu ul li a,
#navbar_menu #menu-button {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#navbar_menu ul,
#navbar_menu ul li,
#navbar_menu ul li a,
#navbar_menu #menu-button {
	position: relative;
}

#navbar_menu:after,
#navbar_menu>ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#navbar_menu #menu-button {
	display: none;
}

#navbar_menu {
	margin: 37px 0 0 0;
	float: left;
}

#navbar_menu>ul>li {
	float: left;
}

#navbar_menu>ul>li>a {
	padding: 15px 18px;
	font-size: 14px;
	color: #000;
	font-weight: 600;
	text-transform: uppercase;
}

#navbar_menu ul ul {
	position: absolute;
	left: -9999px;
}

#navbar_menu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

#navbar_menu li:hover>ul {
	left: auto;
}

#navbar_menu li:hover>ul>li {
	height: 45px;
}

#navbar_menu ul ul ul {
	margin-left: 100%;
	top: 0;
}

#navbar_menu ul ul li a {
	padding: 15px 20px 15px;
	font-size: 14px;
	color: #999;
	font-weight: 500;
	background: #fff;
	color: #666 !important;
}

#navbar_menu ul ul li:last-child>a {}

#navbar_menu ul ul li:hover>a,
#navbar_menu ul ul li a:hover {
	color: #ffffff;
}

#navbar_menu ul ul {
	width: 250px;
	box-shadow: 0 5px 35px -18px #000;
	border-top: solid #000 2px;
}

#navbar_menu ul ul li a:hover,
#navbar_menu ul ul li a:focus {
	color: #fff !important;
	padding: 15px 20px 15px;
}


/*-- Search Bar --*/

.search_icon {
	float: left;
	margin: 48px 0px 0 15px;
}

.search_icon ul {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

.search_icon ul li {
	float: left;
	font-size: 14px;
}

.search_icon ul li {
	float: left;
	font-size: 16px;
}

.search_icon ul li a {
	color: #000;
}

#search_bar {
	padding: 0 !important;
}

#search_bar .modal-content {
	position: relative;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

#search_bar .modal-dialog {
	width: 100%;
	padding: 0;
	margin: 0;
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: translate(0, 0%);
	transform: translate(0, 0%);
	max-width: 100%;
	margin: 0;
}

#search_bar button.close {
	float: right;
	font-weight: 400;
	line-height: 1;
	color: #000;
	text-shadow: none;
	opacity: 1;
	width: 60px;
	height: 60px;
	font-size: 18px;
	background: #fff;
	margin: 0;
	position: fixed;
	right: 0;
}

#search_bar .modal-header {
	padding: 0;
	border-bottom: none;
}

#search_bar .search-global {
	position: absolute;
	top: 50vh;
	margin-top: -122px;
	width: 90%;
}

#search_bar .search-global__input {
	width: 100%;
	color: #fff;
	border: none;
	border-bottom: 1px solid #fff !important;
	background-color: transparent;
	opacity: 1;
	height: auto !important;
	padding: 0 70px 23px 0 !important;
	font-size: 65px;
	font-weight: 600;
	line-height: 75px;
	letter-spacing: -3px;
}

#search_bar .search-global__btn {
	position: absolute;
	top: 7px;
	right: 16px;
	font-size: 42px;
	color: #fff;
	border: none;
	background-color: transparent;
	transition: all 0.3s;
	cursor: pointer;
}

#search_bar .search-global__note {
	margin-top: 25px;
	font-size: 15px;
	color: #fff;
}

#search_bar *::placeholder {
	color: #fff;
	opacity: 1;
}

#search_bar .modal-body {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}

#search_bar .navbar-search {
	float: left;
	width: 100%;
	display: flex;
	justify-content: center;
}

.modal-open {
	padding: 0 !important;
}

.modal-backdrop.in {
	opacity: 1;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: rgba(0, 0, 0, .8);
}


/*-- Side Menu --*/


/*-- Fix Header --*/


/*-- header style 2 --*/

.header_bottom .info_cont h4 {
	font-size: 14px;
	font-family: poppins;
	font-weight: 500;
}

.header_bottom .information_bottom p {
	color: #737373;
	font-family: poppins;
	font-size: 14px;
}

.header_bottom .information_bottom {
	margin: 45px 0 0;
}

header .header_top,
header .header_bottom,
section,
footer,
.light_silver {
	float: left;
	width: 100%;
}


/*------------------------------------------------------------------
		6. SLIDER PARALLAX
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		7. SECTION
	-------------------------------------------------------------------*/

.padding_layout_1 {
	padding-top: 120px;
	padding-bottom: 115px;
}

.information_bottom.left-side {
	width: auto;
	float: left;
}

.information_bottom {
	float: left;
	display: flex;
	justify-content: center;
}

.info_cont h4 {
	margin: 0;
}

.info_cont p {
	color: #000;
	float: left;
	width: 100%;
	margin: 0;
}

.icon_bottom {
	width: 30px;
	margin-right: 20px;
	text-align: center;
}

.info_cont {
	float: left;
	padding: 4px 0;
}

.icon_bottom {
	width: 50px;
	margin-right: 15px;
	text-align: center;
	font-size: 30px;
	line-height: normal;
}

.adress_cont .info_cont h4 {
	font-size: 14px;
	font-family: poppins;
	font-weight: 500;
}

.adress_cont .info_cont p {
	color: #737373;
}

.adress_cont>h4 {
	margin: 0 0 20px 0;
}

.adress_cont>h4+p {
	margin: 0 0 30px 0;
	font-weight: 500;
	color: #333;
}

.contant_form .form_section {
	margin-top: 30px;
}

.info_cont h4,
.info_cont p {
	color: #343434;
}


/**== Counter ==**/

.counter-count {
	margin: 0;
	width: 100%;
	padding: 0;
	text-align: right;
	font-size: 40px;
	color: #000;
	font-weight: 600;
}

.counter-heading {
	color: #000;
	margin-top: 15px;
	margin-bottom: 0px;
	font-weight: 600;
	font-size: 18px;
}

.counter i {
	font-size: 70px;
	color: #17a5e9;
}

.margin_bottom_30 {
	margin-bottom: 30px;
}

.margin_bottom_50 {
	margin-bottom: 50px;
}


/**== Form ==**/

input.field_custom {
	border: solid #e1e1e1 1px;
	width: 100%;
	background: #f8f8f8;
	min-height: 50px;
	padding: 5px 20px;
	line-height: normal;
	border-radius: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #737373;
}

textarea.field_custom {
	border: solid #e1e1e1 1px;
	width: 100%;
	background: #f8f8f8;
	min-height: 150px;
	padding: 15px 20px;
	line-height: normal;
	border-radius: 0px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #737373;
}

.field {
	padding: 0 5px;
}


/**== Progress Bar ==**/

.progress-bar {
	text-align: left;
	transition-duration: 3s;
}

.progress {
	height: 8px;
	border-radius: 0;
	box-shadow: none;
	background: #efeaef;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.progress-bar {
	box-shadow: none;
}

.progress_bar {
	margin: 20px 0 0 0;
}


/**== Pagination ==**/


/*------------------------------------------------------------------
		8. SLIDER
	-------------------------------------------------------------------*/

/**== Testimonial slider ==**/


/*------------------------------------------------------------------
		9. ACCORDION
	-------------------------------------------------------------------*/

#accordion {
	margin: 15px 0 0 0;
	padding: 0;
}

#accordion .panel.panel-default {
	border: none;
	border-radius: 0;
	margin: 0 0 16px 0;
	box-shadow: none;
	background: transparent;
	float: left;
	width: 100%;
}

#accordion .panel.panel-default .panel-heading {
	border: none;
	background: transparent;
	border-radius: 0;
	min-height: 50px;
	padding: 0;
	float: left;
	width: 100%;
}

#accordion .panel-collapse {
	float: left;
	width: 100%;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="true"],
#accordion .panel.panel-default:nth-child(1) .panel-heading p a {
	background: #17a5e9;
	border-color: #17a5e9;
	color: #fff;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="true"] i,
#accordion .panel.panel-default:nth-child(1) .panel-heading p a i {
	color: #fff !important;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="true"] i.fa-angle-down,
#accordion .panel.panel-default:nth-child(1) .panel-heading p a i.fa-angle-down {
	transform: rotate(180deg);
	transition: ease all 0.5s;
}

#accordion .panel.panel-default .panel-heading p a,
#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] {
	border: solid #e4e4e4 1px;
	background: #fff;
	border-radius: 0;
	min-height: 50px;
	padding: 17px 25px 15px;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] {
	color: #000 !important;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] i {
	color: #17a5e9 !important;
}

#accordion .panel.panel-default .panel-heading p a[aria-expanded="false"] i.fa-angle-down {
	color: #000 !important;
}

#accordion .panel.panel-default .panel-heading p {
	font-size: 15px;
}

#accordion .panel.panel-default .panel-body {
	border: none;
	padding: 0 25px;
	margin: 15px 0 0 0;
	box-shadow: none;
	height: auto;
}

#accordion .panel.panel-default .panel-body p {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 24px;
}

#accordion .panel.panel-default .panel-heading p a {
	float: left;
	width: 100%;
	font-weight: 500;
	position: relative;
}

#accordion .panel.panel-default .panel-heading p a i.fa-angle-down {
	float: right;
	color: #000;
	margin: 0;
}

#accordion .panel.panel-default .panel-heading p a>i {
	font-size: 20px;
	color: #17a5e9;
	margin: 0 10px 0 0;
}


/*------------------------------------------------------------------
		10. PRICE TABLE
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		11. INNER PAGE BANNER
	-------------------------------------------------------------------*/
	.inner_banner_section {
		background: url(../images/sem/inner_page_banner.jpg);
		min-height: 245px;
		background-size: cover;
		background-position: center center;
	}
/*------------------------------------------------------------------
		12. SIDEBAR
	-------------------------------------------------------------------*/


/**== Sidebar Search ==**/


/*------------------------------------------------------------------
		13. BLOG
	-------------------------------------------------------------------*/


/**== Blog Detail ==**/


/*------------------------------------------------------------------
		14. CASE STUDIES
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		15. SHOP
	-------------------------------------------------------------------*/

.product_list {
	min-height: 400px;
	transition: ease all 0.5s;
}

.product_list:hover,
.product_list:focus {
	box-shadow: 0 0 25px -17px #000;
	border-bottom: solid #17a5e9 5px;
}

.product_img {
	overflow: hidden;
	background: #f3f3f3;
}

.product_img img {
	padding: 22px;
}

.product_detail_btm h4 {
	margin: 20px 0 10px 0;
	text-align: center;
}

.product_list .starratin {
	height: 0;
	overflow: hidden;
	transition: ease all 0.5s;
}

.product_list:hover .starratin,
.product_list:focus .starratin {
	height: 15px;
	margin-bottom: 6px;
}

.product_list:hover div.product_img img,
.product_list:focus div.product_img img {
	transform: scale(1.2);
	transition: ease all 0.5s;
}

.starratin {
	color: #ffcc00;
}

.starratin .fa {
	margin: 0 0.5px;
}

.product_price p {
	margin: 0;
	text-align: center;
}

.adress_cont {
	float: left;
	width: 100%;
}


/*------------------------------------------------------------------
	17. TESTMONIAL 
	-------------------------------------------------------------------*/


/*------------------------------------------------------------------
		16. FOOTER
	-------------------------------------------------------------------*/

footer {
	background: #632e62;
	min-height: 375px;
	padding: 45px 0;
	position: relative;
}

footer h4 {
	margin: 0 0 25px 0;
}

.social_icon ul {
	list-style: none;
	float: left;
}

.social_icon ul li {
	display: inline;
	font-size: 15px;
	margin-right: 15px;
}

.social_icon {
	float: left;
	margin: 2px 0 0 0;
}

.footer_style_2 {
	padding: 0;
	background: #111;
}

.footer_blog {
	float: left;
	width: 65%;
	padding: 75px 75px 100px 75px;
}

footer h2 {
	color: #eee;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 35px;
	margin-top: 0;
	letter-spacing: 0.5px;
}

.footer_blog .col-md-6 {
	margin-bottom: 30px;
}

footer h2::after {
	width: 30px;
	height: 4px;
	content: "";
	margin: 0;
	display: block;
	position: relative;
	top: 7px;
}

footer p {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

footer p a {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

.footer-menu li {
	margin: 5px 0;
}

.footer-menu li a {
	color: #666;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500;
}

footer ul.social_icons li {
	display: inline;
}

footer ul.social_icons li a {
	float: left;
	margin-right: 15px;
	text-align: center;
	font-size: 18px;
	border-radius: 100%;
	color: #666;
}

footer ul.social_icons {
	float: left;
	margin-top: 10px;
}

.cprt {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0;
	float: left;
	height: auto;
	left: 0;
	padding: 18px 0;
	padding-left: 35%;
}

.cprt p {
	color: #fff;
	margin: 0;
	font-size: 14px;
}

.cprt p {
	line-height: 18px;
	padding: 0 15px;
}

/*------------------------------------------------------------------
		17. CUSTOM
	-------------------------------------------------------------------*/

.service_blog_inner .icon img {
	width: 65px;
}

.service_blog_inner h4.service-heading {
	margin: 25px 0 15px 0;
}

.service_blog_inner {
	margin-bottom: 35px;
	margin-top: 10px;
}

.gross_layout {
	position: relative;
}

.gross_layout::after {
	position: absolute;
	background: url(../images/sem/dark_bg_img.jpg);
	width: 40%;
	height: 100%;
	right: 5px;
	content: "";
	top: 0;
	background-size: cover;
	background-position: right;
}


.gross_layout.right_gross_layout::after {
	position: absolute;
	background: url(../images/sem/dark.png);
	width: 40%;
	height: 100%;
	left: 5px;
	content: "";
	top: 0;
	background-size: cover;
	background-position: right;
}


.gross_layout {
	position: relative;
}

.contact_us_section .call_icon {
	float: left;
	width: 7%;
}

.contact_us_section .inner_cont {
	float: left;
	width: 63%;
}

.contact_us_section {
	padding: 40px 50px;
	margin-top: -75px;
	float: left;
	width: 100%;
}

.contact_us_section h2 {
	margin: 8px 0 5px 0;
	font-size: 35px;
	font-weight: 700;
	color: #fff;
}

.contact_us_section p {
	margin: 0;
	color: #fff;
}

.contact_us_section .button_Section_cont {
	width: 30%;
	float: right;
}

.contact_us_section .button_Section_cont a {
	float: right;
	border: none;
}

.contact_us_section .btn.dark_gray_bt:hover,
.contact_us_section .btn.dark_gray_bt:focus {
	background: #fff;
	color: #252525;
	text-shadow: none;
}

.brand_list li {
	float: left;
	width: 19%;
	text-align: center;
	background: #f6f6f6;
	padding: 30px 0;
	margin: 0 .5%;
	border: solid #eee 5px;
}

.map_section {
	float: right;
	width: 35%;
}

#map {
	height: 90%;
	min-height: 540px;
	z-index: 1;
}


.page-title {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 15px;
}

.breadcrumb {
	background: transparent;
	padding: 0;
	margin: 0;
	color: #fff;
}

.breadcrumb li {
	font-weight: 500;
	font-size: 15px;
}

.breadcrumb>li+li::before {
	position: relative;
	content: '\203A';
	margin: 0 10px;
	font-size: 18px;
	color: inherit;
	opacity: .7;
	display: inline-block;
}

.breadcrumb li a {
	position: relative;
	top: 1px;
	left: 0;
}

.title-holder {
	margin: 85px 0 0;
}

.topbar-hightlight a {
	color: #fff;
}

.service_cont {
	margin-top: 35px;
}

.social-icon {
	float: right;
	list-style: none;
	margin: 0;
}

.contant_form {
	float: left;
	width: 100%;
}

.adress_cont i {
	color: #039ee3;
}

.contant_form p {
	color: #333;
	font-weight: 500;
	font-size: 16px;
}

